<div class="row">
  <div class="col-md-12">
    <%= render partial: 'shared/flash_message', locals: {messages: flash} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Create new room</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_with model: ChatRoom.new do |f|%>
      <div class="form-group">
        <label for="">Title</label>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <%= link_to "Back", chat_rooms_path, class: 'btn btn-secondary' %>
    <% end %>
</div>